body {
	margin : 2%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#passwordForm {
	margin : 0 auto;
	padding: 10px;
	background-color: #eeeeee;
}

#assignment {
	margin : 0 auto;
	padding: 10px;
	background-color: #ffa32c;
}

ol{
	margin-left : 2em;
	
}

li{
	margin-bottom : 5px;
	font-size : 1.5em;
	line-height: 1.6em;
}

p{
	font-size : 1.3em;
	font-weight: bold;
}

h1{
	font-size: 2em;
}
h2{
	font-size: 1.8em;
}
h3{
	font-size : 1.6em;
}

input#password {
	width : 50%;
	height : 40px;
	font-size : 1.3em;
}

input[type='submit'] {
	width : 25%;
	height : 40px;
	font-size: 1.6em;
	line-height: 1.6em;
/*	box-sizing: content-box;*/
}
